---
title: "about"
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <div>
		รักน้องจีจี้ที่สุด🤍
	</div>
	<style>
		body {
			margin: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		div {
			background-color: rgb(234, 166, 245);
			padding: 1em 1em;
			border-radius: 10px;
			font-size: 3em;
		}
	</style>
</Layout>