---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div>
		รักอ้วนนะ🤍
	</div>
	<style>
		body {
			margin: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		div {
			background-color: rgb(234, 166, 245);
			padding: 1em 1em;
			border-radius: 10px;
			font-size: 3em;
		}
	</style>
</Layout>
